<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Find friends</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="box">
        <h1>FIND FRIENDS</h1>
        <form name='find_friends' action="" method='post'>
            <input type='text' name='name' placeholder="Name of the user">
            <input type="submit" value="Friends Search"/>
        </form>
    </div>
    </body>
</html>
